################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BackEndApi/.vs/BackEndApi


# dependencies
/node_modules