@model BackEndApi.Models.CodesDTO

@{
    ViewBag.Title = "Contrato de Préstamo";
}

<div id="container" style="text-align: justify">

    <h2 style="text-align: center">AUTORIZACION DE SOLICITUD DE CONSULTA DE ANTECEDENTES </h2>

    <div>

        <p>
            Yo, @(Model.Confirmed ? Model.Email : "___________________________________") identificado(a) con cédula de
            ciudadanía ______________  autorizo de manera
            irrevocable a la Superintendencia de Sociedades para que: a) con el fin de
            inscribirme como promotor y/o liquidador, y mientras permanezca vigente mi
            nombre en la lista oficial de estos auxiliares de la justicia, consulte mis
            antecedentes de comportamiento crediticio en la Central de Información del
            Sector Financiero (CIFIN) de la Asociación Bancaria o en cualquier otra central
            de riesgos o de información, con el fin de que se informe sobre mis relaciones
            comerciales pasadas, presentes y futuras y, a la par, b) consulte mis
            antecedentes judiciales, disciplinarios y profesionales.
        </p><br />
        <p>
            Para todos los efectos legales certifico que todos los datos por mi anotados en
            la presente solicitud y en la hoja de vida, son veraces y han sido declarados
            bajo la gravedad del juramento, que no me encuentro incurso en ninguna de
            las causales de impedimento para inscribirme como promotor o liquidador y
            que no poseo antecedentes judiciales.
        </p><br/><br/>

        @(Model.Confirmed ? Model.Email : "___________________________________")<br />
        C.C.<br />
        CodigoEmail: @(Model.Confirmed ? Model.EmailCode : "")<br />
        CodigoSMS @(Model.Confirmed ? Model.CellphoneCode : "")<br />

    </div>


</div>